<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.jeeraphan.manow.plaid">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_plaid">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".PlaidActivity" />
    </application>

</manifest>