<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeeraphan.manow.coupon">

    <application>
        <activity
            android:name=".CouponActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.jeeraphan.manow.coupon.CouponActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>